{% extends "base.html" %}

{% load static %}

{% block content %}

<!--Section Historique de l'exosquelette-->
<div class="tile m-4">
    <div class="content m-4">
        <h1 class="has-text-centered">Historique de l’exosquelette</h1>

        <p>
            Un exosquelette ou “carapace” est un squelette externe, ce qui est différent avec un endosquelette, 
            qui est un mécanisme externe qui protège, donne de la force, remplace un ou des membres de l’être humain. 
            Un exosquelette apporte également une assistance physique pour les personnes souffrants de trouble 
            musculo-squelettique (TMS) ou pour les personnes soumises à des tâches de mobilisation et de force 
            répétitives dans le temps.
        </p>

        <p>
            Le premier concept d'un exosquelette est apparu au XIXème siècle, mais le premier prototype date des 
            années 1960 qui est l’exosquelette Hardiman développé aux Etats-Unis. Dans les années 2000, il y a eu le 
            lancement du programme de recherche, Exoskeletons for Human Performance Augmentation. 
        </p>

        <p>Quelques petites dates : </p>

        <ul>
            <li>
                En 2015, un exosquelette bionique pour les enfants atteints d’amyotrophie spinale 
                (atrophie musculaire) à été développé par une informaticienne espagnole Elena Garcia Armada.
            </li>
            <li>
                En 2016, l'armée de terre américaine a conçu un exosquelette qui se recharge grâce aux mouvements des 
                jambes des soldats.
            </li>
            <li>
                En 2017, le centre Clinates à Grenoble, conçoit des exosquelettes qui fonctionnent par la pensée. 
            </li>
            <li>
                En 2019, la France a été le premier pays à développer le premier exosquelette EMY (Enhancing Mobility) 
                qui est à destination des tétraplégiques totales fonctionnant par la pensée. 
            </li>
        </ul>
    </div>

    <!--Section Caractéristiques de l’exosquelette-->
    <div class="content m-4">
        <h2 class="has-text-centered">Caractéristiques de l’exosquelette</h2>
        <ul>
            <li>compenser des fonctions déficitaires</li>
            <li>assister les muscles et les articulations</li>
            <li>rectifier les mouvements et les gestes </li>
            <li>simuler un retour d’effort</li>
            <li>contrôler un système à distance </li>
            <li>assurer la protection</li>
        </ul>
    </div>
</div>

<div class="tile m-4">
    <!--Section Différentes catégories d’exosquelette-->
    <div class="content m-4">
        <h1 class="has-text-centered">Différentes catégories d’exosquelette</h1>
        <ul>
            <li>
                Exosquelette passif: pas de motorisation. Mécanisme pour récupérer et restituer 
                l’énergie mécanique. Permet de garder une posture confortable, de soulever des charges massives 
                et de diminuer les douleurs dues aux gestes répétitifs. 
            </li>
            <li>
                Exosquelette actif: une motorisation qui peut être hydraulique, pneumatique ou électrique. 
                De multiples articulations, une ou plusieurs sources d’énergie et il y a une composante informatique 
                et électronique complexe. 
            </li>
            <li>
                Exosquelette intégral: les exosquelettes présentés précédemment sont des exosquelettes de bras, 
                de jambes ou un ensemble de bras ou de jambes. Ici c’est une carapace pour le corps entier. 
            </li>
        </ul>
    </div>

    <!--Section Différentes applications dans différents domaines-->
    <div class="content m-4">
        <h1 class="has-text-centered">Différentes applications dans différents domaines</h1>
        <ul>
            <li>
                Militaire: port de charge lourde et augmenter les capacités 
                (résistance à la fatigue, rapidité, force musculaire).  
            </li>
            <li>
                Industrie: port de charge lourde, vitesse/précisions des gestes. Travail long et efficace dans 
                les postures difficiles. Vise à réduire les risques d’accident et de diminuer le taux d'arrêts maladie.
            </li>
            <li>
                Médecine: pour les personnes souffrantes de déficits moteurs partiel ou total. 
            </li>
            <li>
                Sport: résistance aux mouvements qui favorisent le développement des muscles et la rapidité. 
            </li>
        </ul>
    </div>
</div>
    <!--Section Exosquelette de bras-->
    <div class="content m-4 mt-6 mb-6">
        <h1 class="has-text-centered">Exosquelette de bras</h1>
        <ul>
            <li>
                Existe un kit d’exosquelette de bras où il faut assembler et programmer soit même accompagné d’un tutoriel. 
                Cependant, ce n’est pas un dispositif médical qui n’est pas destiné à être utilisé pour tout type de 
                thérapie ou médicale. C’est un kit d'apprentissage. Kit EduExo.com, The robotic exoskeleton kit. 
            </li>
            <li>
                Arm Orthosis, exosquelette de Constanza Villanueva, exosquelette de bras qui fonctionne avec la 
                force mécanique grâce à des élastiques, développé pour des enfants souffrants de dystrophie musculaire. 
                PERMANENT
            </li>
            <li>
                Exosquelette Armeo est un système de rééducation du bras, se sont des exercices qui aident la 
                réorganisation du cerveau suite à une lésion cérébrale donc on a une restauration du mouvement des 
                parties lésées et leurs fonctionnalités. </br>
                REEDUCATION. 3 stades de rééducation avec 3 exosquelettes:
                <ul>
                    <li>
                        Armeo power, pour les personnes avec des insuffisances de mouvement sévère, privant d’une 
                        capacité d’activation volontaire des muscles du bras. 
                    </li>
                    <li>
                        Armeo Spring, pour les personnes qui ont une incapacité des mouvements actifs, donc 
                        l’exosquelette donne une compensation de poids. 
                    </li>
                    <li>
                        Armeo Boom, pour les personnes ayant récupéré une bonne partie des membres supérieurs dans 
                        un but de perfectionner le contrôle moteur. 
                    </li>
                </ul>
            </li>
            <li>
                Un exosquelette de bras non robotisé coûte environ 5 OOO euros.
            </li>
            <li>
                Depuis 2020, avancées dans la recherche au centre de Kerpape (centre d’expertise et de moyens, 
                implanté au centre mutualiste de rééducation et de réadaptation fonctionnelles de Kerpape), 
                en Bretagne à Ploemeur. De nombreux employés travaillent sur des solutions pour améliorer le 
                quotidien des personnes handicapées. En 2019, Thibault Couturrer est tétraplégique et a pu marcher 
                et bouger ses bras avec un exosquelette.  
            </li>
        </ul>
    </div>

    <!--Section Exosquelettes de jambes-->
    <div class="content m-4 mt-6 mb-6">
        <h1 class="has-text-centered">Exosquelettes de jambes</h1>
        <ul>
            <li>
                Exosquelette ReWalk qui est Israélien, à des capteurs sur les hanches qui détectent les mouvements 
                du corps quand la personne se penche en avant, les capteurs déclenchent la marche. Cette innovation 
                a été testée au centre de rééducation fondamentale à Bordeaux, pour la première fois en France, 
                il a été approuvé pour un intérêt thérapeutique. Cette exosquelette coûte 80 000 euros sans 
                remboursement. PERMANENT 
            </li>
            <li>
                Le Lokomat-pro est un système robotisé pour entraîner les personnes à la marche qui ont eu un 
                AVC et autre, cependant c’est un système qui est très gros et donc il doit y avoir une salle 
                spécialisée pour cette thérapie locomotrice. REEDUCATION
            </li>
        </ul>
    </div>

    <!--Section Imprimantes 3D-->
    <div class="content m-4 mt-6 mb-6">
        <h1 class="has-text-centered">Imprimantes 3D</h1>
        <ul>
            <li>
                Tous ces exosquelettes se construisent avec des imprimantes 3D, qui est un procédé de 
                fabrication de pièces en volume par ajout de matière, empilement de couches successives. 
                Donc on obtient un objet réel en 3 dimensions.  
            </li>
            <li>
                Imprimante avec du plastique, dépôt de filament qui consiste à faire fondre un fil de plastique 
                pour être déposé par une buse.
            </li>
            <li>
                Imprimante avec de la résine, laser qui parcourt la surface d’une barre de résine liquide 
                pour en solidifier les couches les unes après les autres. 
            </li>
            <li>
                Peut acheter une imprimante 3D dans des magasins d'électroménagers ou sur internet, 300 à 1200 euros.
            </li>
            <li>
                Sinon on peut aller chez un imprimeur ou sur internet. Le prix dépend du matériel (plastique 
                0,85 euros / 1,50e/g) et du nombre d’heure de modélisation 3D si personne veut un objet sur-mesure 
                environ 25 à 65 euros/heures.
            </li>
            <li>
                Imprimante française, RepRap et Dagoma.
            </li>
        </ul>
    </div>
</div>
{% endblock %}