{% extends "base.html" %} 

{% block content %}
<div class="container is-fullhd">
    <div class="columns is-vcentered"> 
        <div class="column is-half content">
            <h2>Les gestes du quotidien pour toutes et tous !</h2>
            <p>
                ROpenExo développe une solution innovante pour rendre accessible l'exosquellete de bras 
                pour tous.
            </p>
            <div class="buttons">
                <button class="button is-primary is-large is-half"><a href="storyboard.html">Je suis interessé</a></button>
            </div>
        </div>
        <div class="column">
            <figure class="image is-30x30">
                <img src="/static/icon/Mind_map-pana.svg">
            </figure>
        </div>
    </div>

    <div class="content">
        <h3>Notre constat</h3>
        <p>
            Les personnes ayant une déficience motrice du bras n’ont pas accès à une réelle 
            solution pour les gestessimples du quotidien : manger, boire, téléphoner …
        </p>
    </div>
    

    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child box">
            <div class="content">
                <p class="title">
                    <figure class="image is-30x30">
                        <img src="/static/icon/user.svg">
                    </figure>
                </p>
                <p class="subtitle">Aides techniques</p>
                <div class="content has-text-centered">
                    <p>
                        Réel besoin ! Il existe plus de 400 maladies neuromusculaires dégénératives 
                        qui peuvent affecter la motricité du membre supérieur, soit des dizaines de milliers 
                        d’enfants et adultes concernés en France.
                    </p>
                </div>
            </div>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
            <div class="content">
                <p class="title">
                    <figure class="image is-30x30">
                        <img src="/static/icon/credit-card.svg">
                    </figure>
                </p>
                <p class="subtitle has-text-centered">Non adaptés</p>
                <div class="content has-text-centered">
                    <p>
                        Exosquelettes, robots d’assistance… Ces solutions hautement technologiques sont bien 
                        ouvent inabordables pour les familles, et leur financement relève du parcours 
                        du combattant.
                    </p>
                </div>
            </div>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
            <div class="content">
                <p class="title">
                    <figure class="image is-30x30">
                        <img src="/static/icon/handicapped-sign.svg">
                    </figure>
                </p>
                <p class="subtitle has-text-centered">Non adaptés</p>
                <div class="content has-text-centered">
                    <p>
                        30 à 40% des aides techniques cessent d’être utilisées dans l’année qui suit leur 
                        acquisition. La plupart des solutions existantes ne sont pas évolutives ou ne 
                        s’adaptent pas à la réalité des besoins des malades. 
                    </p>
                </div>
            </div>
            </article>
        </div>
    </div>

    <div class="content has-text-centered">
        Le concept d’exosquelette existe depuis les années 60, et pourtant en 2020, ces technologies 
        ne sont toujours pas démocratisées !
    </div>

    <div class="content has-text-centered">
        <h2> 
            L’innovation ouverte et la fabrication numérique permettent 
            aujourd’hui d’imaginer de nouvelles solutions !
        </h2>
    </div>

    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <article class="tile is-child">
            <div class="content">
                <p class="title">
                    <figure class="image is-30x30">
                        <img src="/static/icon/open-source.svg">
                    </figure>
                </p>
                <p class="subtitle has-text-centered">Open source</p>
                <div class="content has-text-centered">
                    <p>Pour une R&amp;D agile Pour diffuser l'innovation</p>
                </div>
            </div>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child">
            <div class="content">
                <p class="title">
                    <figure class="image is-30x30">
                        <img src="/static/icon/compass.svg">
                    </figure>
                </p>
                <p class="subtitle has-text-centered">Adaptable</p>
                <div class="content has-text-centered">
                    <p>
                        A l’évolution de la maladie Aux différentes maladies Aux préférences 
                        de l'utilisateur
                    </p>
                </div>
            </div>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child">
            <div class="content">
                <p class="title">
                    <figure class="image is-30x30">
                        <img src="/static/icon/euro.svg">
                    </figure>
                </p>
                <p class="subtitle has-text-centered">A bas coût</p>
                <div class="content has-text-centered">
                    <p>Procédés de fabrication numériques flexibles Maximum de composants standards </p>
                </div>
            </div>
            </article>
        </div>
    </div>

    <div class="columns is-vcentered"> 
        <div class="column is-half content has-background-primary">
            <div class="content">
                <h2>Nos débuts</h2>
                <h4>ROpenExo a démarré avec le besoin concret de Rafaël</h4>
                <p> 
                    Rafaël et Madjid se connaissent depuis toujours. En 2008, le diagnostic tombe : 
                    Rafaël est atteint de myopathie de Duchenne. Malgré une opération fin d’été 2019, 
                    sa mobilité du bras est fortement réduite et il perd notamment en autonomie pour manger. 
                    Rafaël, sa famille et Madjid se mettent alors en quête de solutions pour permettre à 
                    Rafaël de regagner en autonomie. En discutant avec des médecins, dont ceux de 
                    l’Institut de Myologie de la Salpêtrière, un consensus sur l’utilité des exosquelettes 
                    de membre supérieur apparaît. Malheureusement, ces exosquelettes ultra technologiques 
                    sont inabordables et peu adaptables. Les besoins de Rafaël changent avec la progression 
                    de sa myopathie, et il lui faut une solution évolutive. Immergé depuis plusieurs années 
                    dans les milieux de l’open source et de la fabrication numérique, Madjid s’est dit qu’une 
                    autre solution était possible en 2020 !
                </p>
            </div>
        </div>
        <div class="column">
            <figure class="image is-90x90">
                <img src="#" alt="photo membres">
            </figure>
        </div>
    </div>



    <div class="content has-text-centered">
        <h2> Notre équipe</h2>
    </div>



    <div class="columns content has-text-centered">
        <div class="column">
            <figure class="image is-128x128">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
        </div>
        <div class="column">
            <p class="title"> Madjid Ait Si Amer</p>
            <p class="subtitle"><em>FONDATEUR DIRIGEANT</em></p>
            <p> 
                Issu du milieu de l'informatique, formé à la fabrication numérique et entrepreneur optimiste, 
                Madjid a de multiples casquettes. Il créé la société UDEZ en 2018 et porte le projet 
                ROpenExo depuis 2019 suite à l'idée de Rafaël.
            </p>
        </div>
        <div class="column">
            <figure class="image is-128x128">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
        </div>
        <div class="column is-small">
            <p class="title"> Chloé Cabon</p>
            <p class="subtitle"><em>RESPONSABLE R&amp;D</em></p>
            <p> 
                Ingénieur mécanique et designer industriel, rodée au développement de produits centrés 
                sur l'humain, Chloé guide la R&amp;D à travers tous ses rebondissements.
            </p>
        </div>
    </div>



    <div class="content has-text-centered">
        <h2> Les co-créateurs</h2>
    </div>



    <div class="columns has-text-centered">

        <div class="column">
            <figure class="image is-128x128 is-inline-block">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
            <p class="title">Rafaël Roy</p>
            <p class="subtitle"><em>PREMIER UTILISATEUR CRÉATEUR</em></p>
            <div class="content has-text-centered">
                <p>
                    Initiateur de l'idée, et expert dans l'identification des besoins, 
                    Rafaël est en quelque sorte le guide spirituel du projet ROpenExo.
                </p>
            </div>
        </div>
        
        <div class="column">
            <figure class="image is-128x128 is-inline-block">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
            <p class="title">Clotilde Barbot</p>
            <p class="subtitle"><em>ÉTUDIANTE EN ROBOTIQUE</em></p>
            <div class="content has-text-centered">
                <p>
                    Etudiante en ingénierie robotique, Clotilde est déterminée à contribuer au projet pour 
                    le meilleur et pour le pire.
                </p>
            </div>
        </div>

        <div class="column">
            <figure class="image is-128x128 is-inline-block">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
            <p class="title">Antoine Lenoir</p>
            <p class="subtitle"><em>ÉTUDIANT EN ROBOTIQUE</em></p>
            <div class="content has-text-centered">
                <p>
                    Etudiant en biotechnologie, bidouilleur fou, Antoine n'hésite pas à mettre son humour 
                    au service de la bonne humeur.
                </p>
            </div>
        </div>
    </div>

    <div class="columns has-text-centered">
        <div class="column">
            <figure class="image is-128x128 is-inline-block">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
            <p class="title">Emilie Nguyen</p>
            <p class="subtitle"><em>INGÉNIEUR EN INNOVATION</em></p>
            <div class="content has-text-centered">
                <p>
                    Ingénieur en innovation, designer de produits spécialisée dans la santé, 
                    Emilie dispose d'une énergie débordante qu'elle dédie au projet.
                </p>
            </div>
        </div>

        <div class="column">
            <figure class="image is-128x128 is-inline-block">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
            <p class="title">Ivan Pommet</p>
            <p class="subtitle"><em>MARIONNETTISTE</em></p>
                <div class="content has-text-centered">
                    <p>
                        Ivan est notre Tony Stark : bricoleur de l'extrême, inventeur infatigable, 
                        il s'est fabriqué son propre exosquelette et veut en créer pour d'autres.
                    </p>
                </div>
        </div>

        <div class="column">
            <figure class="image is-128x128 is-inline-block">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
            <p class="title">Daïdo Prévost</p>
            <p class="subtitle"><em>PORTEUR DE PROJET ROBOTIQUE ET ÉTUDIANT</em></p>
                <div class="content has-text-centered">
                    <p>
                        Véritable Perceval de la table ronde du RopenExo, Daïdo a plusieurs cordes à son arc 
                        qu'il met entièrement à disposition de l'équipe et du projet.
                    </p>
                </div>
        </div>
    </div>
</div>
{% endblock %}