{% extends "base.html" %} 

{% block content %}
    <main>
        <h2>Les gestes du quotidien pour toutes et tous !</h2>
        <p>ROpenExo développe une solution innovante pour rendre accessible l'exosquellete de bras pour tous.</p>

        <h3>Notre constat</h3>
        <p>Les personnes ayant une déficience motrice du bras n’ont pas accès à une réelle solution pour les gestessimples du quotidien : manger, boire, téléphoner …</p>
        
        <h3>Aides techniques</h3>
        <p>Réel besoin !<br> Il existe plus de 400 maladies<br> neuromusculaires <br> dégénératives qui peuvent <br> affecter la motricité du membre<br> supérieur, soit des dizaines de<br> milliers d’enfants et adultes<br> concernés en France.</p>
                    
                <h3>Dispositifs coûteux</h3>
                <p>Exosquelettes, robots<br> d’assistance… Ces solutions<br> hautement technologiques sont <br> bien souvent inabordables pour<br>les familles, et leur financement<br>relève du parcours du<br>combattant.</p>

                <h3>Non adaptés</h3>
                <p> 30 à 40% des aides techniques<br> cessent d’être utilisées dans<br> l’année qui suit leur acquisition.<br> La plupart des solutions<br> existantes ne sont pas<br> évolutives ou ne s’adaptent pas<br> à la réalité des besoins des<br> malades.<br> </p>

                <p> Le concept d’exosquelette existe depuis les années 60, et pourtant en 2020, ces technologies ne sont toujours pas démocratisées !</p>
                <h2> L’innovation ouverte et la fabrication numérique permettent aujourd’hui d’imaginer de nouvelles solutions !</h2>

                <h3>Open source</h3>
                <p>Pour une R&amp;D agile<br> Pour diffuser l'innovation</p>

                <h3>Adaptable</h3>
                <p> A l’évolution de la maladie<br> Aux différentes maladies<br> Aux préférences de l'utilisateur </p>

                <h3>A bas coût</h3>
                <p> Procédés de fabrication<br> numériques flexibles <br>Maximum de composants standards </p>

                <h2>Nos débuts</h2>
                <h4>ROpenExo a démarré avec le besoin concret de Rafaël</h4>
                <p style="font-size: 12px;"> Rafaël et Madjid se connaissent depuis toujours. En 2008, le diagnostic tombe :<br> Rafaël est atteint de myopathie de Duchenne. Malgré une opération fin d’été<br> 2019, sa mobilité du bras est fortement réduite et il perd notamment en<br> autonomie pour manger. Rafaël, sa famille et Madjid se mettent alors en quête<br> de solutions pour permettre à Rafaël de regagner en autonomie. En discutant<br> avec des médecins, dont ceux de l’Institut de Myologie de la Salpêtrière, un<br> consensus sur l’utilité des exosquelettes de membre supérieur apparaît.<br> Malheureusement, ces exosquelettes ultra technologiques sont inabordables et<br> peu adaptables. Les besoins de Rafaël changent avec la progression de sa<br> myopathie, et il lui faut une solution évolutive. Immergé depuis plusieurs années<br> dans les milieux de l’open source et de la fabrication numérique, Madjid s’est dit<br> qu’une autre solution était possible en 2020!</p>

                <h2 style="text-align: center;"> Notre équipe</h2>

                <h3> Madjid Ait Si Amer</h3>
                <h4 style="font-size: 14px"><em>FONDATEUR DIRIGEANT</em></h4>
                <p> Issu du milieu de l'informatique, formé à la<br> fabrication numérique et entrepreneur<br> optimiste, Madjid a de multiples casquettes.<br> Il créé la société UDEZ en 2018 et porte le<br> projet ROpenExo depuis 2019 suite à l'idée<br> de Rafaël.</p>

                <h3> Chloé Cabon</h3>
                <h4 style="font-size: 14px"><em>RESPONSABLE R&amp;D</em></h4>
                <p> Ingénieur mécanique et designer industriel,<br> rodée au développement de produits centrés<br> sur l'humain, Chloé guide la R&amp;D à travers<br> tous ses rebondissements.</p>

                <h2 style="text-align: center;"> Les co-créateurs</h2>

                <h3>Rafaël Roy</h3>
                <h4 style="font-size: 14px"><em>PREMIER UTILISATEUR CRÉATEUR</em></h4>
                <p>Initiateur de l'idée, et expert dans<br> l'identification des besoins, Rafaël est en<br> quelque sorte le guide spirituel du projet<br> ROpenExo.</p>

                <h3>Clotilde Barbot</h3>
                <h4 style="font-size: 14px"><em>ÉTUDIANTE EN ROBOTIQUE</em></h4>
                <p>Etudiante en ingénierie robotique, Clotilde est<br> déterminée à contribuer au projet pour le<br> meilleur et pour le pire.</p>

                <h3>Antoine Lenoir</h3>
                <h4 style="font-size: 14px"><em>ÉTUDIANT EN ROBOTIQUE</em></h4>
                <p>Etudiant en biotechnologie, bidouilleur fou,<br> Antoine n'hésite pas à mettre son humour au<br> service de la bonne humeur.</p>

                <h3>Emilie Nguyen</h3>
                <h4 style="font-size: 14px"><em>INGÉNIEUR EN INNOVATION</em></h4>
                <p>Ingénieur en innovation, designer de produits<br> spécialisée dans la santé, Emilie dispose<br> d'une énergie débordante qu'elle dédie au<br> projet.</p>

                <h3>Ivan Pommet</h3>
                <h4 style="font-size: 14px"><em>MARIONNETTISTE</em></h4>
                <p>Ivan est notre Tony Stark : bricoleur de<br> l'extrême, inventeur infatigable, il s'est<br> fabriqué son propre exosquelette et veut en<br> créer pour d'autres.</p>

                <h3>Daïdo Prévost</h3>
                <h4 style="font-size: 14px"><em>PORTEUR DE PROJET ROBOTIQUE ET ÉTUDIANT</em></h4>
                <p>Véritable Perceval de la table ronde du<br> RopenExo, Daïdo a plusieurs cordes à son<br> arc qu'il met entièrement à disposition de<br> l'équipe et du projet.</p>
    </main>
{% endblock %}