{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="tile is-ancestor">
        <div class="tile is-parent is-vertical">
            {% for storyboard in storyboards %}
                <article class="tile is-child notification is-primary">
                    <p class="title">{{ storyboard.title }}</p>
                    <p class="subtitle">{{ storyboard.description }}</p>
                    <figure class="image">
                        <img src="{% static storyboard.url %}" alt="storyboard">
                    </figure>
                </article>
            {% endfor %}
        </div>
    </div>

{% endblock %}