@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
// Import Bulma settings variables 
@import "initial-variables-bulma.scss";
// Import Bulma
@import "~bulma/bulma";


// Import specific styles
@import "footer.scss";

$icon-width: 85px;
$circle-width: 50px;
.icon-ROE-homepage{
    width: $icon-width;
    margin: auto;
    display: block;
    margin-bottom: 12px;
    margin-top: -($icon-width/2 + $circle-width/2);
}

// .span-icon-ROE-homepage {
//     display: block;
// }
.span-icon-ROE-homepage::before{
    display: block;
    content: " ";
    width: $circle-width;
    height: $circle-width;
    border-radius: 50%;
    background-color: #F5CC4999;
    position: relative;
    margin-left: 35%;
    margin-top: 12px;
}

$padding-top-bottom-sections: 15px;

.background-progress{
    background: linear-gradient(to right, #F5CC4933 70%, white 30%);
    padding-top: $padding-top-bottom-sections;
    padding-bottom: $padding-top-bottom-sections;
}

.double-border {
    background-color: #F5CC4933;
    border: 2px solid #F5CC49;
    padding: 12px;
}

.double-border-thin{
    background-color: #F5CC4933;
    border: 2px solid #F5CC49;
    padding: 6px;
}