@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
// Import Bulma settings variables 
@import "initial-variables-bulma.scss";
// Import Bulma
@import "~bulma/bulma";


// Import specific styles
@import "footer.scss";


.icon-ROE-homepage{
    width:20%;
    margin: auto;
    display: block;
    margin-bottom: 12px;
}

.icon-ROE-homepage::before{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.background-progress{
    background: linear-gradient(to right, #F5CC4933 70%, white 30%);
}

.double-border {
    background-color: #F5CC4933;
    border: 2px solid #F5CC49;
    padding: 12px;
}

.double-border-thin{
    background-color: #F5CC4933;
    border: 2px solid #F5CC49;
    padding: 6px;
}