@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
// Import Bulma settings variables 
@import "initial-variables-bulma.scss";
// Import Bulma
@import "~bulma/bulma";


// Import specific styles
@import "footer.scss";
@import "header.scss";


.icon-ROE-homepage{
    width:40%;
    margin: auto;
    display: block;
    margin-bottom: 12px;
}

.icon-ROE-homepage::before{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: green;
}
