{% load static %}

<footer class="footer footer-dark">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="footer-logo">
                    <img src="{% static 'icon/Logo_white.svg' %}" width="150" height="180">
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>ROpenExo</h3>
                    </div>
                    <ul class="link-list">
                        <li><a href="#">Accueil</a></li>
                        <li><a href="#">A propos</a></li>
                        <li><a href="#">Notre solution</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Docs</h3>
                    </div>
                    <ul class="link-list">
                        <li><a href="#">Mentions légales</a></li>
                        <li><a href="#">Politique de confidentialité</a></li>
                        <li><a href="#">Préférences cookie</a></li>
                        <li><a href="#">Accessibilité</a></li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Social</h3>
                    </div>
                    <ul class="link-list">
                        <li><a href="#">
                            <div class="navbar-item">
                                <img src="{% static 'icon/facebook.svg' %}" alt="icon name" width="30" height="50">
                            </div>
                        {% comment %} </a></li>
                        <li><a href="#">
                            <div class="navbar-item">
                                <img src="{% static 'icon/instagram.svg' %}" alt="icon name" width="30" height="50">
                            </div>
                        </a></li> {% endcomment %}
                        <li><a href="#">
                            <div class="navbar-item">
                                <img src="{% static 'icon/twitter.svg' %}" alt="icon name" width="30" height="50">
                            </div>
                        </a></li>
                        <li><a href="#">
                            <div class="navbar-item">
                                <img src="{% static 'icon/linkedin.svg' %}" alt="icon name" width="30" height="50">
                            </div>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content has-text-centered">
            <p class="heading">ROPENEXO-2021</p>
        </div>
    </div>
</footer>