<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ROpenExo</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link rel="stylesheet" href="../../../assets/css/footer.css">
    </head>
    <body>
    <footer>
        <div class="footer">
            <div class="level">
                <div class="has-text-centered">
                    <h3 class = "level-item">
                        <a href="#home">
                            <img src="../images/icon/Logo_white.svg" width="150" height="180">
                        </a>
                    </h3></br>
                    <ul>
                        <li><a href="#">Accueil</a></li>
                        <li><a href="#">A propos</a></li>
                        <li><a href="#">Notre solution</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="has-text-centered">
                    <h3 class = "level-item"><strong>Legal</strong></h3></br>
                    <ul>
                        <li><a href="#">Mentions légales</a></li>
                        <li><a href="#">Politique de confidentialité</a></li>
                        <li><a href="#">Préférences cookie</a></li>
                    </ul>
                </div>
                <div class="has-text-centered">
                    <h3 class = "level-item"><strong>Social</strong></h3></br>
                    <ul>
                        <li><a href="#">
                            <div class="navbar-item">
                                <img src="../images/icon/facebook.svg" alt="icon name" width="30" height="50">
                            </div>
                        </a></li>
                        <li><a href="#">
                            <div class="navbar-item">
                                <img src="../images/icon/instagram.svg" alt="icon name" width="30" height="50">
                            </div>
                        </a></li>
                        <li><a href="#">
                            <div class="navbar-item">
                                <img src="../images/icon/twitter.svg" alt="icon name" width="30" height="50">
                            </div>
                        </a></li>
                        <li><a href="#">
                            <div class="navbar-item">
                                <img src="../images/icon/linkedin.svg" alt="icon name" width="30" height="50">
                            </div>
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="content has-text-centered">
                <p class="heading">ROPENEXO-2021</p>
            </div>
        </div>
    </footer>
    </body>
</html>
